#navbar1 a{
    color:#fff;
}

#navbar a{
    color:rgba(0,0,0,0.9);
    padding-bottom: 10px;
    border-bottom: rgba(0,0,0,0.9) 1px solid;
}


@media screen and (max-width: 757px) {
    .responsive-nav {
      display: none;
    }
    .constom-class {
        width:100%;
    }
  }
